@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300&family=Mate+SC&family=Nothing+You+Could+Do&family=Tangerine:wght@700&display=swap');


.navbar {
    background: #f7f7f7fd;
    padding: 20px 0;
    font-size: 25px;
    
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
 
  }

  .logo{
    font-size: 40px;
    font-family: 'Nothing You Could Do';
    transition: 0.4s;
    

  }

  .logo:hover{
    color: crimson;

    transform: scale(0.5);
  }

  ul{
    list-style: none;
    font-family: 'Mate SC';
    margin: 0;
    padding: 0;
    
  }

  li{
    display: inline;
    margin-right: 30%;
    
  }

  a{
    text-decoration: none;
    transition: 0.4s;
    color: black;

  }
  a:hover{

    color: rgb(140, 83, 194);
  }

  .search-box{
    margin-left: 65%;
    
  }




  

